<div class="">
	<h1 class="">Products</h1>
	<ul class="">
		{{!-- Dentro de esta lista se actualizan los productos en tiempo real --}}
	</ul>
</div>
<script src="./socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>